@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  overflow: hidden;
}

@keyframes glow-text {
  from {
    text-shadow: 0 0 10px transparent;
  }
  to {
    text-shadow: 0 0 8px blue;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px transparent;
  }
  to {
    box-shadow: 5px 5px 8px blue;
  }
}

.box {
  clip-path: polygon(
    3% 0,
    97% 0,
    100% 3%,
    100% 97%,
    97% 100%,
    3% 100%,
    0 97%,
    0 3%
  );
}

.edge-clip:after {
  clip-path: polygon(
    15% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 15%
  );
}

.card-gradient:after {
  background-color: #08232d;
  background-image: linear-gradient(0deg, #202c59 0%, #08232d 100%);
}
